@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-5 bg-yellow-300 text-black font-semibold rounded-full shadow-md hover:bg-yellow-500 focus:outline-none focus:ring focus:ring-yellow-200 focus:ring-opacity-75;
  }
  .input-primary {
    @apply border-sky-200 focus:outline-none focus:ring-red-200 hover:border-2 ml-1 shadow-black shadow-sm block rounded-lg;
  }
  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(#333 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }
  .cart-movement {
    position: absolute;
    animation: cartdeliv 9s linear 1s infinite;
  }

  @keyframes cartdeliv {
    from {
      transform: translateX(100%); /* Start at its original position */
    }
    to {
      transform: translateX(-700%); /* Move fully to the right */
    }
  }
}
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  color: #444;
  overflow: hidden;
}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
